<footer class="main-footer">
  <div class="developer">
    <p>Developed by © 2024 Heder Lopes. Todos os direitos reservados.<a href=""></a></p>
    
  </div>
  <div class="media-footer">
    <p>
      <a href="https://www.linkedin.com/in/hederlopes/">Linkedin</a>
      and
      <a href="https://github.com/hederlopes">Github </a>
    </p>
  </div>
  <div class="footer-links">
    <p>
      Project developed with <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Django Web Framework</a>
    </p>
  </div>
</footer>

{% comment %} <script src="{% static 'portifolio/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
