<style>
 
  footer {
   
    text-align: center;
    padding: 0.8rem;
    background-color: #44B78B;
    position: fixed;
    bottom: 0%;
    width: 100%;
    color: #0c4b33;
    font-weight: 400;
  }
 
  footer .developer {
   
 
    text-decoration: none;
  }
  footer a{
    text-decoration: none;
    color: #212529;
  }
  .footer-links span{
    color: #212529;
    font-weight: 900;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  }
</style>

<footer class="main-footer">
  <div class="developer">
    <p>Developed by © 2024 Heder Lopes. Todos os direitos reservados.
    <a href="https://www.linkedin.com/in/hederlopes/">Linkedin</a>
    and
    <a href="https://github.com/hederlopes">Github</a>
  </div>
  <div class="footer-links">
    Project developed with <span><a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Django Web Framework</a></span>
  </div>
</footer>

{% comment %} <script src="{% static 'portifolio/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
