/* VARIAVEIS */
:root {
	--dark-sidebar-color: #272727;
	--dark-section-color: #323942;
	--pink-color: #fc6e84;
	--chocolate-color: #4c3c3c;
	--pastel-color: #f4f1ea;
	--lilac-color: #c6b3fa;
	--salmon-color: #f1c6a4;
	--blue-color: #0050c3;
	--yellow-color: #fff4ac;
	--green-color: #b2decd;
	--green-dark-color: #0c4b33;
	--green-light-color: #44b78b;
	--gray-color: #e6e6e6;
	--gray-dark-color: #565656;
	--dark-color: #0e1117;
	--html-color: #e54d26;
	--css-color: #3d8fc6;
	--js-color: #f0db4f;
	--jquery-color: #0769ad;
	--sass-color: #cc6699;
	--python-color: #ffdd55;
	--less-color: #2a4d80;
	--bootstrap-color: #712cf9;
	--php-color: #777bb3;
	--windows-color: #0078d4;
	--ubuntu-color: #e95420;
	--docker-color: #019bc6;
	--django-color: #092e20;
	--linux-color: #000;
	--git-color: #f34f29;
	--mysql-color: #186891;
	--jira-color: #2684ff;
	--facebook-color: #3d5a98;
	--github-color: #181616;
	--linkedin-color: #0076b2;
	--instagram-color: #8b3cc0;
	--whatsapp-color: #0dc242;
	--gmail-color: #d7413b;
	--white-color: #fff;
	--yellow-color: #ffc107;

	--gap: 3rem;

}

/* CONFIG */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", serif;
	font-size: 1.5rem;
	color: var(--gray-color);
	line-height: 1.5;
	/* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Saira Extra Condensed", serif;
}

h1 {
	font-size: 10rem;
	line-height: 8rem;
	text-transform: uppercase;
	margin-bottom: 0 !important;
}

h2 {
	font-size: 5rem;
	margin: 1.5rem 0 1rem;
	text-transform: uppercase;
	line-height: 1.2;
	color: var(--dark-sidebar-color);
}

h3 {
	font-size: 3rem;
	line-height: 2rem;
	color: var(--green-light-color);
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	unicode-bidi: isolate;
	text-transform: uppercase;
	margin: 1rem 0 1rem;
}

h4 {
	font-size: 4.5rem;
	color: #3d3d3d;
}

h5 {
	font-size: 4rem;
}

h6 {
	font-size: 3.5rem;
}

a {
	font-family: "Saira Extra Condensed", serif;
	text-decoration: none;
	color: var(--green-dark-color);
}

p {
	margin-bottom: 1rem;
	color: var(--dark-color);
}

.text-primary {
	color: var(--dark-color);
}

.text-secondary {
	color: var(--green-light-color);
}

/* ESTRUTURA */
.main-content {
	max-width: 120rem;
	margin: 0 auto;
	padding: 8rem var(--gap);
}

body .full-width {
	width: 100%;
	flex: 1 1 100%;
}

main {
	min-height: 100hv;
}

.section {
	min-height: 100vh;
}

/* MENU */
.menu-bg {
	background: var(--dark-sidebar-color);
	color: var(--pastel-color);
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	border-bottom: var(--gray-color);
}

.menu-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
}

.menu h1 {
	font-size: 2.3rem;
	color: var(--pastel-color);
}

.menu h1 a {
	color: inherit;
}

.menu ul {
	list-style: none;
	display: flex;
	text-decoration: none;
}

.menu ul a {
	display: block;
	padding: 2rem;
	font-size: 1.8rem;
	color: var(--pastel-color);
	position: relative;
}

.menu ul a::after {
	content: '';
	position: absolute;
	bottom: 1rem;
	left: 50%;
	width: 0;
	height: 0.2rem;
	background-color: var(--green-light-color);
	transition: all 300ms ease-in-out;
}

.menu ul a:hover::after {
	width: 50%;
	left: 25%;
}

.close-menu {
	display: none;
}

/* HOME */
.home-content {
	padding-top: 20rem;
	display: grid;
	grid-template-rows: 0.4fr 1fr 0.6fr;
	gap: var(--gap);
}

.title-home {
	justify-content: center;
	text-align: center;
}

.text-home {
	color: var(--gray-dark-color);
	font-size: 2.25rem;
	text-align: center;
	vertical-align: middle;
}

.btn-vermais {
	color: var(--pastel-color);
	background: var(--dark-sidebar-color);
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	vertical-align: middle;
	font-size: 2rem;
	font-weight: 700;
	/* border-radius: 1rem; */
	border: 0.1rem solid var(--dark-color);
	line-height: 1.5;
	user-select: none;
	cursor: pointer;
	margin: 0 auto;
}

/* FEATURES */

.features-content {
	padding-top: 15rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: var(--gap);


}

.color-svg-feature {
	fill: var(--gray-dark-color);
}

.card-feature {
	cursor: pointer;
	padding: 1rem;
	transition: all 300ms ease-in-out;
}

.card-feature:hover {
	border: .1rem solid var(--gray-color);
	transform: rotate(-2deg) scale(1.2) translate(-3%, 3%);

	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* CONTACT */

.btn-submit {
	color: var(--pastel-color);
	background: var(--dark-color);
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	vertical-align: middle;
	font-size: 2rem;
	font-weight: 700;
	/* border-radius: 1rem; */
	border: 0.1rem solid var(--dark-color);
	line-height: 1.5;
	user-select: none;
	cursor: pointer;
	margin: 0 auto;

}

.form-grid {
	padding: 3rem;
	border: .1rem solid var(--gray-dark-color);
}

.form-grid legend {
	font-style: italic;
	font-size: 1.6rem;
	margin-bottom: 3rem;
	color: var(--gray-dark-color);
}

.form-group {
	flex: 1 1 32rem;
}

.form-group label {
	display: block;
	margin: 1rem 0 .2rem;
	color: var(--gray-dark-color);
}

.form-group input,
.form-group select,
.form-group textarea {
	border: .1rem solid var(--gray-dark-color);
	background: var(--white-color);
	padding: 1.5rem 2rem;
	width: 100%;
	font-size: 2rem;
	outline: none;
	color: var(--gray-dark-color);
}
.option-title{
	color: var(--white-color);
	background: var(--gray-dark-color);
}


.form-group button {
	float: right;

}

/* ABOUT */
.about-content {
	display: grid;
	grid-template-rows: 0.6fr 1fr 1fr;
	gap: var(--gap);
}

.container p {
	color: var(--gray-dark-color);
	text-align: justify;
}

.container ul li {
	text-decoration: none;
	list-style: none;
	color: var(--gray-dark-color);
}


/* FOOTER */
.main-footer {
	display: grid;
	grid-template-columns: 1fr 0.15fr 1fr;
	gap: 1rem;
	padding: 1rem 0 .1rem;
	background-color: var(--green-light-color);
	position: fixed;
	bottom: 0%;
	width: 100%;
	font-family: "Saira Extra Condensed", serif;
	font-size: 1.7rem;
	font-weight: 700;
}

.developer p {
	text-align: right;
	color: var(--dark-section-color);
}

.media-footer p {
	text-align: center;
	color: var(--dark-section-color);
}

.footer-links p {
	text-align: left;
	color: var(--dark-section-color);
}


/* MEDIA QUERIES */
@media (max-width: 40rem) {

	/* HOME */
	.home-content {
		position: relative;
		padding-top: 5rem;
		display: grid;
		grid-template-rows: 0.2fr 1fr 0.2fr;
		gap: var(--gap);
		justify-content: center;
		align-items: center;
	}

	.title-home {

		align-items: center;
		text-align: center;
	}

	.text-home {
		font-size: 1.8rem;
	}

	/* MENU */
	.menu {
		bottom: 0;
		text-align: center;
	}

	.menu-content,
	.menu-content ul {
		flex-direction: column;
		justify-content: center;
	}

	.menu-content {
		height: 100vh;
	}

	.menu {
		display: none;
	}



	.close-menu-label::after {
		content: '☰';
		position: fixed;
		z-index: 2;
		top: 1rem;
		right: 1rem;
		background: var(--dark-color);
		color: var(--white-color);
		font-size: 3rem;
		line-height: 3rem;
		width: 3rem;
		height: 3rem;
		text-align: center;
		padding: 0.5rem;
		cursor: pointer;

	}

	.close-menu:checked~.menu {
		display: block;
	}

	.close-menu:checked~.close-menu-label::after {
		content: 'x';
	}

	/* FEATURES */

	.features-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--gap);

	}

	/* FOOTER */
	.main-footer {
		grid-template-columns: 1fr;
		background-color: var(--green-light-color);
		position: fixed;
		bottom: 0%;
		width: 100%;
		font-weight: 400;
	}

	.developer p {
		font-size: 1rem;
		text-align: center;
		margin: 0;
	}

	.developer p a {
		font-size: 1rem;
		text-align: center;

	}

	.media-footer p {
		text-align: center;
		font-size: 1rem;
		margin: 0;
	}

	.media-footer p a {
		font-size: 1rem;
	}

	.footer-links p {
		text-align: center;
		padding-top: 0;
		font-size: 1rem;
		margin: 0;
	}

	.footer-links p a {
		font-size: 1rem;
	}
}

@media (min-width: 601px) and (max-width: 1367px) {

	/* HOME */
	.home-content {
		padding-top: 10rem;
		display: grid;
		grid-template-rows: 0.4fr 1fr 0.6fr;
		gap: var(--gap);
	}
	.text-home {
		
		font-size: 2rem;
		
	}
	
	.btn-vermais {		
		
		font-size: 1.8rem;
		
	
	}
	.main-footer {
		
	
		font-size: 1.4rem;
		
	}
}