{% extends "global/base.html" %}

{% block 'title' %}{{ title }}{% endblock 'title' %}


{% block 'content'  %}
<section class="section">
  <div class="main-content home-content">
    <h2 class="title-home">Welcome!</h2>
    <p class="text-home">Welcome to my first project developed with Python and Django! This is a journey that started with the curiosity to explore the world of programming and the passion to create innovative solutions. With this website, I aim to share my knowledge and offer a unique experience to visitors.
    </p>
          <a href="/about" class="btn-vermais">About more...</a>       
  </div>
</section>
  {% endblock 'content'  %}
    
    
