{% extends "global/base.html" %}

{% block 'title' %}Home | {% endblock 'title' %}

{% block 'content'  %}
<section class="section">
  <div class="main-content home-content">
    <h2 class="title-home">Welcome!</h2>

    <p class="text-primary text-home">Bem-vindo ao meu primeiro projeto desenvolvido com Python e Django! Esta é uma jornada que 
      começou com a curiosidade de explorar o mundo da programação e a paixão por criar soluções inovadoras. 
      Com este site, busco compartilhar meus conhecimentos e oferecer uma experiência única aos visitantes.
    </p>
          <button type="submit" class="btn-vermais">Ver mais...</button>
    
    
  </div>
</section>

  {% endblock 'content'  %}
